.form-signin-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 0px 5px;
}

.form-signin {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 420px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}

.form-signin input, .form-signin h1 {
  margin-bottom: 0;
}

.form-signin h1 {
  font-size: 40px;
  width: 100%;
  margin-top: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.form-signin h1 img {
  width: 40px;
}

input[type="radio"] {
  margin: 0;
  width: auto;
}
