/* Zentriert das Anmeldeformular */
.form-signin-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 0px 5px;
}

/* Grundlegendes Input-Styling */
input {
  border: 1px solid #999;
  font-family: 'Nunito', sans-serif;
}

input, form button {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  outline: 0;
  font-size: 15px;
  transition: 0.3s box-shadow;
}

input:focus, button:active {
  -webkit-box-shadow: 0px 0px 0px 3px rgba(171, 28, 72, 0.5);
  -moz-box-shadow: 0px 0px 0px 3px rgba(171, 28, 72, 0.5);
  box-shadow: 0px 0px 0px 3px rgba(171, 28, 72, 0.5);
  border-color: #ab1c48
}

/* Das Anmeldeformular */
.form-signin {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 420px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}

/* Kein Abstand unter Komponenten des Formulars */
.form-signin input, .form-signin h1 {
  margin-bottom: 0;
}

form h3 {
  margin-top: 10px;
  border-top: 1px solid #c5c5c5;
  padding-top: 5px;
}

form h4 {
  margin-top: 12px;
  font-size: 17px;
  border-bottom: 1px dotted #777;
}

/* Titel-Styling */
.form-signin h1 {
  font-size: 40px;
  width: 100%;
  margin-top: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.form-signin h1 img {
  width: 40px;
}

/* Korrekte Anzeige von Mehrfachauswahlen */
input[type="checkbox"] {
  margin-right: 5px;
  width: auto;
}
